NEXT_PUBLIC_API_URL="http://localhost:3001"
# Backend en production (Railway) : https://backend-production-547d8.up.railway.app
NEXT_PUBLIC_CAL_LINK_COMMERCIAL="e-staf/cadrage-commercial"
NEXT_PUBLIC_CAL_LINK_CONNECTEUR="e-staf/cadrage-connecteur"
